<div layout="column">
    <md-toolbar class="md-toolbar-tools">Registro de produto</md-toolbar>
    <!--<form name="productRegistration" novalidate ng-submit="productRegistration.$valid && vm.getProductReg(vm.newProduct)">
        <md-card>
            <md-card-title>
                <h4 class="md-tilte">Informações do fabricante</h4>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Fabricante</label>
                    <md-select name="fabricante" ng-model="vm.newProduct.fabricante" required>
                        <md-option ng-repeat="fabricante in vm.fabricante" value="{{fabricante}}">
                            {{fabricante}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Part Number Fabricante</label>
                    <input name="partNumFabr" ng-model="vm.newProduct.PNfabricante" required/>

                </md-input-container>

                <md-input-container>
                    <label>Categoria</label>
                    <md-select name="categoria" ng-model="vm.newProduct.categoria" required>
                        <md-option ng-repeat="categoria in   vm.categoria" value="{{categoria}}" ng-click="vm.getCategory(categoria)">
                            {{categoria}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Subcategoria</label>
                    <md-select name="subcategoria" ng-model="vm.newProduct.subcategoria" required>
                        <md-option ng-repeat="subcategoria in   vm.seleSubcat.items" value="{{subcategoria}}" ng-click="vm.getSubCategory(subcategoria)">
                            {{subcategoria}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>
                <h4 class="md-tilte">Informações de compra</h4>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Fornecedor</label>
                    <input>
                </md-input-container>
                <md-input-container>
                    <label>Valor de compra</label>
                    <input>
                </md-input-container>
                <md-input-container>
                    <label>Frete</label>
                    <input>
                </md-input-container>

            </md-card-content>
        </md-card>
        <md-button class="md-accent md-raised" type="submit">Cadastrar</md-button>
        {{vm.newProduct}} {{vm.seleSubcat.items}}
    </form>-->
    <form name="productRegistration">
        <md-card>
            <md-card-title>
                <h4 class="md-tilte">Informações de categoria
                </h4>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Nome do produto</label>
                    <input name="partNumFabr" ng-model="vm.product.name" required/>
                </md-input-container>
                <md-input-container>
                    <label>Imagens do produto</label>
                    <input name="partNumFabr" ng-model="vm.product.pictures"/>
                </md-input-container>
                <md-input-container>
                    <label>Preço</label>
                    <input name="partNumFabr" ng-model="vm.product.price.amount" required/>
                </md-input-container>
        </md-card>
        <md-card>
            <md-card-title>
                <h4 class="md-tilte">Informações de categoria
                </h4>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Nome da categoria</label>
                    <input name="partNumFabr" ng-model="vm.product.category._id" required/>
                </md-input-container>
                <md-input-container>
                    <label>Pai</label>
                    <input name="partNumFabr" ng-model="vm.product.category.parent" required/>
                </md-input-container>
                <md-input-container>
                    <label>Avós</label>
                    <input name="partNumFabr" ng-model="vm.ancestor"/>
                    <md-button class="md-raised" ng-click="vm.addAncestor(vm.ancestor)">Adicionar</md-button>
                    <div class="md-list-item-text" layout="column">
                        <div ng-repeat="ancestor in vm.product.category.ancestors track by $index">
                            <h3>{{ancestor}}</h3>
                        </div>
                    </div>
                </md-input-container>
                <md-button class="md-accent md-raised" type="submit" ng-click="vm.submitProduct(vm.product)">Cadastrar</md-button>
            </md-card-content>
        </md-card>
    </form>
</div>