<div layout="column">
    <md-toolbar class="md-toolbar-tools">Registro de produto</md-toolbar>
    <form name="productRegistration" novalidate ng-submit="productRegistration.$valid && vm.getProductReg(vm.newProduct)">
        <md-card>
            <md-card-title>
                <h4 class="md-tilte">Informações do fabricante</h4>
            </md-card-title>
            <md-card-content layout="column">
                <md-input-container>
                    <label>Fabricante</label>
                    <md-select name="fabricante" ng-model="vm.newProduct.fabricante" required>
                        <md-option ng-repeat="fabricante in vm.fabricante" value="{{fabricante}}">
                            {{fabricante}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Categoria</label>
                    <md-select name="categoria" ng-model="vm.newProduct.categoria" required>
                        <md-option ng-repeat="categoria in   vm.categoria" value="{{categoria}}" ng-click="vm.getCategory(categoria)">
                            {{categoria}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Subcategoria</label>
                    <md-select name="subcategoria" ng-model="vm.newProduct.subcategoria" required>
                        <md-option ng-repeat="subcategoria in   vm.seleSubcat.items" value="{{subcategoria}}" ng-click="vm.getSubCategory(subcategoria)">
                            {{subcategoria}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-card-content>
        </md-card>
        <md-button class="md-accent md-raised" type="submit">Cadastrar</md-button>
        {{vm.newProduct}}
        {{vm.seleSubcat.items}}
    </form>
</div>